body {
    font-family: 'Roboto', sans-serif;
    background: #eaeaea;


    padding: 26px;
    width: 100%;
    max-width: 900px;
    margin: 26px auto;
    justify-content: center;



}

#container {

    background: #ffff;
    text-align: justify;


    width: 980px;
    padding: 16px;
    border-radius: 14px;

}

figure,
img {
    border-radius: 10px;
    text-align: right;
    width: 100%;
    max-width: fit-content
}

img {
    transform: ;
}

h1 {
    font-size: 38px;
    text-align: center;

}

h2,
h3,
h4,
h5,
h6 {
    font-size: 20px;
    text-align: center;
    margin: 26px 0 26px auto;
    color: #1b1b1b;

}


ul li  {
    font-size: 16px;
    color: #39393a;
    margin: 16px 0 16px;
    
}

ol li {
    margin: 16px 0 16px;
}





footer {
    font-size: 12px;
    text-align: center;
    color: #8f8f8f;
}